@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;600;700&display=swap');

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    cursor: pointer;
}

.card {
    width: 250px;
    display: flex;          
    flex-direction: column; 
    font-family: 'Cormorant', serif;
}

.card--img {
 background-color: 	#f7f7f7;
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card--item--brand {
    font-weight: 600;
}

.tlds--price {
    display: flex;
    align-items: center;
    font-size: 1.25;
    font-weight: 700;
}

.card--item--handbag,
.retail--price {
 font-size: 1rem;
}

.retail--price {
    color: #adb5b5;
}

.discount--img {
    width: 20px;
}