.cart--header,
.cart--subHeader {
    font-family: 'Italiana', serif;
    letter-spacing: 2px;
    padding: 25px 0;
    text-align: center;
}

.cart--header {
    font-size: 2.75rem;
}

.subheader--display {
    display: flex;
    flex-direction: column;
}

.cart--subHeader {
    font-size: 2rem;
    font-style: italic;
    text-transform: capitalize;
}

.cart--items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.5px dotted  #adb5b5;;
    font-family: 'Italiana', serif;
    font-size: 1.2rem;
    padding: 25px 0;
}

.cart--item--info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart--card--img {
    width: 150px;
}

.item--brandName {
    font-weight: 700;
    font-size: 1.5rem;
}

.cart--btns {
    display: flex;
    flex-direction: row;
}

.btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Great Vibes', cursive;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: normal;
  margin: 0 7px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.continue--btn,
.checkout--btn {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: normal;
    margin: 10px 7px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.checkout--btn:disabled,
.continue--btn:disabled {
    pointer-events: none;
  }
  
.checkout--btn:hover,
.continue--btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.checkout--btn:active,
.continue--btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.item--qty {
    font-size: 2.5rem;
}

.cart--total {
    text-align: right;
    padding: 20px;
    line-height: 1.5;
}

.cart--total p {
    font-style: italic;
}

.special--txt {
    font-weight: 700;
}

.p--btn {
    background: none;
    border: none;
    text-decoration: underline;
}

