.checkout--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Italiana', serif;
    padding: 50px 0;
}

.checkout--container h1 {
    font-size: 2.5rem;
}

.checkout--container h2 {
    font-size: 1.85rem;
}

.checkout--container img {
    padding: 25px 0;
}

.checkout--container p {
    font-size: 1rem;
    line-height: 50px;
}