@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    padding: 40px 20px;
    transition: top 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.nav--title {
    display: flex;
    align-items: center;
}

.nav--title p {
    margin-top: 12px;
    padding-left: 7px;
    font-family: 'Italiana', serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.span--item {
    color: #adb5b5;
}

.logo {
    width: 50px;
}

.nav--list {
    display: grid;
    grid-template-columns: repeat(2, 70px) 120px;
    align-items: start;
}

.nav--list > li {
    list-style-type: none;
    font-family: 'Italiana', serif;
    letter-spacing: 2px;
}

.nav--link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.nav--btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -10px;
}

.cart {
    width: 40px;
    height: 35px
}

.count--btn {
    position: absolute;
    top: 20px;
    right: 100px;

    background-color: black;
    border: none;
    border-radius: 100%;
    color: #adb5b5;
    padding: 5px;
}

/* Mobile NavBar */  
  @media screen and  (max-width: 769px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    
    .count--btn {
        position: absolute;
        top: 45px;
        right: 155px;
        padding: 3px;
    }

    .nav--title {
        padding-top: 15px;
    }

    .nav--list {
        padding: 10px;
        text-align: center;
    }
  
  }

  