.inventory--card {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-gap: 20px;
    padding: 10px;
/* display: flex;
flex-direction: column; */
}

.card--img {
    background-color: purple;
    width: 350px;
    height: 400px;
}

.card--info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    line-height: 1.5;
    background-color: pink;
}